

// A mixin for full width headers in activities with a coloured background.
@mixin cass-activityheader {
    background-color: $brand-primary;
    color: white !important;
    font-size: 2rem;
    font-family: $font-family-feature;
    // Make any inner content match style.
    * {
        color: white !important;
        font-size: 2rem !important;
        font-family: $font-family-feature;
    }
    // Make the element always fill the width of the screen.
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: -2rem -50vw 2rem -50vw; // Margin-top pulls the header to avoid a white gap which happens on small screen.
    padding: 2em 4%;
    @include media-breakpoint-up(md) {
        // Calculate padding for content to match the 960 container.
        padding: 5em calc(50vw - 440px) 2rem calc(50vw - 440px);
        // page width/2 - 440. 440 is half the page container width;
    }
}

@mixin lining  {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums tabular-nums;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
}

// -------------------------
//  Activities - Create a faux page header.
// -------------------------

// This is quite fragile, targeting the various header classes and making them look like banners.
#page.firstactivityinsection #maincontent + h4,
#page.firstactivityinsection #maincontent + h2 {
    @include cass-activityheader;
}


@mixin alakazam {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

// Give pages enough padding so content isn't hidden under the header.
#moodle-page {
    padding-top: 5rem;
}

// Mods need less padding-top.
.path-mod #moodle-page {
    padding-top: 0;
}

/*
// Grading.
*/
#page-grade-report-grader-index {
    // Enable scrolling on this page so large table can be viewed.
    overflow: scroll;

    // Overwrite display: flex to drop the content below the edit button.
    #region-main {
        display: block;
    }
    // Remove the margin on the a-z links.
    ul.pagination {
        margin: 0;
    }
    // In the grade table we want the header labels to show vertically.
    .item a:first-of-type {
        height: 140px;
        writing-mode: vertical-rl;
    }
    // Floater cells float when scrolling - e.g. student name.
    // They have the margin removed to line up with data.
    .floater .cell {
        margin: 0;
    }
}

.current .snap-current-tag {
  display: none !important;
}


.text-success small {
  background: #E2CC00;
  color: white;
  border-radius: 10px;
  padding: 0 1em;
}


#page-mod-quiz-review .arrow_link,
.path-admin-tool-lp button.btn,
#course-category-listings .listing-pagination .yui3-button,
.paging.paging-morelink a,
#changenumsections .increase-sections,
#changenumsections .reduce-sections,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"]:not(.btn-link),
td.submit input,
#notice .singlebutton+.singlebutton input,
#login.fixy input[type=submit],
button#local-joulegrader-preview-button,
button.atto_equation_submit,
.yui-skin-sam .yui-button,
.yui3-button,
.yui-button button,
.felement.ftext input+button,
.btn.btn-primary,
.btn.btn-default,
.btn.btn-solid,
.button-group>button,
input.form-submit,
input[type="button"],
.moodle-dialogue-content button,
button#restrictbygroup,
button#livelogs-pause-button,
#page-admin-tool-monitor-managerules a>button,
input[type="submit"]:not(.btn-link),
button[type="submit"]:not(.btn-link),
input[type="reset"]:not(.btn-link),
.gradingform_checklist.editor .addgroup input,
.gradingform_checklist.editor .additem input,
.gradingform_rubric.editor .addlevel input,
.gradingform_rubric.editor .addcriterion input,
#page-site-index .section-modchooser-link .section-modchooser-text {
  font-family: "ff-meta-web-pro",Helvetica,Arial,sans-serif;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 1em 1.618em;
  font-size: 14px;
  line-height: 1em;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: baseline;
  margin: .4em 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #fdfdfd;
  border-color: $brand-primary;
  background: $brand-primary;
  border-radius: 4px;
}

.holder {
  padding-bottom: 50%;
}




.current .snap-current-tag {
  display: none !important;
}


.text-success small {
  background: #E2CC00;
  color: white;
  border-radius: 10px;
  padding: 0 1em;
}




html.hosted #wrap {
  padding: 0;
}

.path-mod-assign [data-region="grade-actions-panel"] {
  height: 75px;
}

.path-mod-assign [data-region="grade-actions-panel"] [data-region="grade-actions"] .collapse-buttons {
  top: 10px;
}

ol.breadcrumb a.dimmed_text {
  color: #333;
}

.path-mod-assign [data-region="grade-panel"] h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 .5em;
}

.path-mod-assign td.submissionstatussubmitted,
.path-mod-assign div.submissionstatussubmitted,
.path-mod-assign a:link.submissionstatussubmitted {
  color: $modal-bg;
  background-color: $brand-green;
  padding: .618em;
  margin: 5px 0;
}

.path-mod-assign td.latesubmission,
.path-mod-assign a:link.latesubmission,
.path-mod-assign div.latesubmission {
  color: $modal-bg;
  background-color: $brand-danger;
  padding: .618em;
  margin: 5px 0;
}

.path-mod-assign [data-region="grade-panel"] td.submissionnotgraded,
.path-mod-assign [data-region="grade-panel"] div.submissionnotgraded {
  color: $brand-warning;
  background-color: $gray-lighter;
  padding: .618em;
  margin: 5px 0;
}

.path-mod-assign [data-region="review-panel"] .drawingregion {
  left: 0;
  right: 0;
  border-color: $gray-light;
}

.assignfeedback_editpdf_widget .drawingregion {
  border: 1px solid $gray;
  left: 1em;
  right: 1em;
  top: 52px;
  bottom: 0;
  position: absolute;
  overflow: auto;
  background-color: $body-bg;
}

.assignfeedback_editpdf_widget .drawingcanvas {
  position: relative;
  min-width: 817px;
  min-height: 400px;
  cursor: crosshair;
  background-repeat: no-repeat;
  background-color: $gray-lighter;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 20px rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 20px rgba(0, 0, 0, .2);
}

button.collapse-review-panel,
button.collapse-none,
button.collapse-grade-panel {
  background: $body-bg;
  border: $gray-light solid 1px;
}


.path-mod-assign [data-region="grade-actions"] {
  padding: 10px;
}

.path-mod-assign [data-region="grade-panel"] {
  padding-top: 1rem;
}

.path-mod-assign [data-region="grade-panel"] {
  position: absolute;
  top: 85px;
  bottom: 60px;
  right: 0;
  left: 70%;
  width: 30%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $body-bg;
  padding: 15px;
  padding-top: 0;
  -webkit-transition: width .5s, right .5s, left .5s;
  -moz-transition: width .5s, right .5s, left .5s;
  -o-transition: width .5s, right .5s, left .5s;
  transition: width .5s, right .5s, left .5s;
}

.path-mod-assign [data-region="review-panel"] {
  position: absolute;
  top: 85px;
  bottom: 60px;
  left: 0;
  right: 30%;
  width: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: right .5s, left .5s;
  -moz-transition: right .5s, left .5s;
  -o-transition: right .5s, left .5s;
  transition: right .5s, left .5s;
  background-color: $gray-lighter;
  border: solid 1px $gray-light;
}

.currentstampbutton {
  display: none;
}

.search-input-wrapper {
  display: none;
}

a.btn.btn-secondary {
  padding: 1em 1.618em;
  /* background: lightblue; */
  font-size: 14px;
  line-height: 1em;
  transition: linear .5s border;
  border-radius: 4px;
  color: $brand-primary;
  background: $modal-bg;
}

a.btn-secondary:hover {
  text-decoration: none;
  border: 1px solid $brand-primary;
  border-radius: 4px;
  animation: linear 2s border;
  color: $brand-primary;
  background: darken($modal-bg, 8%);
}


#page-mod-assign-view  :not(.firstactivityinsection) #page-content h2 {
  padding: 1.2em 0px .9em;
}

#page-mod-assign-view,
#page-mod-assign-editsubmission,
#page-mod-assign-mod {

  #page {
    max-width: 960px;
    margin: 0 auto;
  }
}

ul,
ol {
  padding: 0px;
  margin: 1em;
}

a,
.dropdown-toggle {
  &:focus {
    outline: 1px dotted $brand-primary;
  }
  &:active,
  &:hover {
    outline: 0;
  }
}

#region-main textarea {
  width: 100%;
  white-space: normal;
}



h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
legend,
.mform legend a,
.mform legend a:hover,
.coursebox .info .coursename,
.collapsibleregioncaption,
.snap-featured-course-title,
#coursetools-list a {
  font-family: $font-family-feature;
  color: $body-color;
}

code {
  font-size: 80%;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  color: #000;
}

.pagemod-readmore {
  font-family: $font-family-system;
}

//Buttons
.messaging-area-container .messaging-area .messages-area .response .delete-confirmation .btn.btn-link.confirm,
#page-mod-quiz-review .arrow_link,
.path-admin-tool-lp button.btn,
#course-category-listings .listing-pagination .yui3-button,
.paging.paging-morelink a,
#changenumsections .increase-sections,
#changenumsections .reduce-sections,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"]:not(.btn-link),
td.submit input,
#notice .singlebutton + .singlebutton input,
button#local-joulegrader-preview-button,
button.atto_equation_submit,
.yui-skin-sam .yui-button,
.yui3-button,
.yui-button button,
.felement.ftext input + button,
.header-button-group .btn,
.btn.btn-primary,
.btn.btn-default,
.btn.btn-solid,
.button-group > button,
input.form-submit,
input[type="button"],
.moodle-dialogue-content button,
button#restrictbygroup,
button#livelogs-pause-button,
#page-admin-tool-monitor-managerules a > button,
input[type="submit"]:not(.btn-link),
.btn:not(.btn-link),
button[type="submit"]:not(.btn-link),
input[type="reset"]:not(.btn-link),
.gradingform_checklist.editor .addgroup input,
.gradingform_checklist.editor .additem input,
.gradingform_rubric.editor .addlevel input,
.gradingform_rubric.editor .addcriterion input,
#page-site-index .section-modchooser-link .section-modchooser-text {
  font-family: $font-family-system;
  transition: all 0.4s ease-in-out;
  color: $brand-primary;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 1em 1.618em;
  font-size: 14px !important;
  line-height: 1em;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: baseline;
  margin: .4em 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  //transition: all 0.4s ease-in-out;

  //New to snap 3.1
  color: $body-bg;
  border-color: $brand-primary;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background: $brand-primary;
  // Em's used to allow for small and large buttons.
  padding: 1em 1.618em;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-primary, 8%);
    color: $body-bg;
    border-color: darken($brand-primary, 8%);
    text-decoration: none;
  }
  &:visited {
    color: #fff;
  }


  &[disabled] {
    opacity: 0.65;
  }
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #777;
}

table.table {
  margin: 1.618em 0;
}

.generaltable > tbody > tr > td,
.generaltable > thead > tr > th,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 1.618em 0em 1em;
  line-height: 1em;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table {
    td {
        @include lining;
    }
}

.fn,
.fraction {
    @include lining;
}


th.data.header {
  text-align: center;
}

.path-mod-choice .results .option,
.path-mod-choice .results .numberofuser,
.path-mod-choice .results .percentage {
  font-weight: normal;
  padding: 1em 0 0;
}

input[value="Next"] {
  background: $brand-info;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($brand-info, 8%);
    color: #fff;
    text-decoration: none;
  }
}




#responseform {
  padding-top: 2em;
}

.path-mod-feedback input[type="radio"] {
  display: inline-block;
}

td input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  display: inline-block;
}

[type="radio"]:checked + label:before {
  background: $brand-info;
  box-shadow: 0 0 0 0.1em $brand-info;
}

[type="radio"]:focus + label:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}
input[type="radio"] + label {
  -webkit-transition: all 0.25s linear;
  cursor: pointer;
  color: $text-color;
}

ul li label:hover {
  color: $brand-info;
}

// -------------------------
//  Moodle mods
// -------------------------
// -------------------------
// Forum
// -------------------------

.forumsearch {
  display: none;
}
#page-mod-forum-view .forumaddnew {
  margin-bottom: 20px;
  clear: both;
  width: 640px;
  float: left;
  clear: none;
  margin-left: 300px;
}


// -------------------------
//  Moodle mods
// -------------------------
// -------------------------
// Choice
// -------------------------
body#page-mod-choice-view {
  overflow-x: hidden;
}

.path-mod-choice form.vertical {
  float: left;
}
.path-mod-choice .response {
  overflow: auto;
  float: left;
  clear: both;
}

.path-mod-choice .responseheader {
  margin: 1em 0 3.6em;
  float: left;
  text-align: left;

}

#moodle-footer.nocoursefooter {
  margin-top: 0;
}

.path-mod-choice #yourselection {
  padding: 3.15em 0 1em;
  color: $brand-success;
  display: inline-block;
}
.path-mod-choice .button {
  margin: 0 0 5.8em;
}

ul.choices {
  padding: 0;
}

.path-mod-choice .next_activity_area {
  margin-top: 2.9em;
}

// -------------------------
//  Moodle mods
// -------------------------
// -------------------------
// assignment
// -------------------------


#page-mod-assign-view {
  #region-main {
    padding: 0;
  }
  .path-mod-assign td.submissionstatussubmitted {
    padding: 1.618em 0em 1em;
  }
  #intro {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .gradingsummary {
    max-width: 960px;
    margin: 0 auto;
  }

  .submissionstatustable {
    max-width: 960px;
    margin: 0 auto;
  }

  .box.boxaligncenter {
    max-width: 960px;
    margin: 0 auto;
  }
}

// -------------------------
//  Moodle mods
// -------------------------


// -------------------------
//  Moodle mods
// -------------------------
// -------------------------
// feedback
// -------------------------

.box.feedback_anonymousinfo {
  display: none;
}

.feedback_item_presentation_left ul {
  padding: 0;
}

.path-mod-feedback input,
.path-mod-feedback textarea,
.path-mod-feedback .uneditable-input {
  width: auto;
  margin-bottom: 1em;
}

.box.feedback_items {
  margin-bottom: 2em;
}

div.feedback_item_box_left div.feedback_item_label_left,
div.feedback_item_box_left div.feedback_item_presentation_left {
  margin-left: 0;
  font-family: $font-family-feature;
}
.feedback_items label {
  color: #333;
}

#page-mod-feedback-view {
    .boxaligncenter {
        text-align: center;
    }
}

// -------------------------
//  All mods
// -------------------------

#intro.generalbox {
  padding: 0px;
}
.path-mod #page-header h1 {
  display: none;
}

.activity-meta {
  line-height: 21px;
}

.activity-type {
  padding: 0 0 1em;
  border-bottom: 1px dotted #999;
  width: 208px;
}

.activity-intro {
  min-height: 20px;
  padding: 19px 0;
  float: right;
  max-width: 640px;
  clear: right;
}

@media screen and (max-width: 940px) {
  .activity-intro {
    float: left;
  }
  #region-main {
    padding-top: 0;
    max-width: 640px;
  }
  .activity-type {
    border-bottom: none;
    width: initial;
    float: left;
    padding-right: 1em;
  }
  .activity-info {
    float: left;
  }

  .activity-time {
    padding: 0 0 1em;
  }
  .activity-type .activity-info:after {
    content: "|";
    padding: 0 1em;
  }
  #intro.generalbox {
    float: left;
    width: 100%;
  }
}

.dropcap {
  color: $brand-primary;
  display: inline-block;
  vertical-align: text-top;
  height: 4.25rem;
  margin-right: .5rem;
  float: left;
}

span.dropcap_inner {
  font-size: 4.9rem;
  line-height: 4.4rem;
  display: inline-block;
  vertical-align: text-top;
}


.activity-time {
  padding: 1em 0;
}

.path-mod .pagelayout-incourse .pagelayour.mform {
  width: 640px;
  margin: 0 auto;
  float: right;
}

.grouppictures {
  display: none;
}

.activity-info {
  display: block;
  padding: .1em 0 0.3em;
  font-family: $font-family-feature;
  font-size: .9em;
  color: $gray-light;
}


// -------------------------
//  videos/iframes
// -------------------------

.path-mod .holder {
  position: relative;
  padding-bottom: 56.25% !important;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin: 1em 0 3em;
}

.youtube {
  position: relative;
  padding-bottom: 50.7%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin: 1em 0 3em;
}
html.hosted #wrap {
  padding: 0px !important;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: inherit !important;
}

// -------------------------
//  glyphicon
// -------------------------

.glyphicon {
  top: 2px;
  padding-right: .4em;
}


// -------------------------
//  Course page
// -------------------------

.snap-assettype {
  display: none;
}

.modtype_hsuforum .hsuforum-recent a {

  h3 {
    color: $text-color;
    width: initial;
  }
  time {
    line-height: 1em;
    font-family: $font-family-sans-serif;
    color: $text-color;
    float: left;
  }
}
.section li.snap-asset .activityinstance .snap-asset-link a {
  color: $text-color;
}

.section li.snap-asset .activityinstance .snap-asset-link a:hover {
  text-decoration: underline;
}


// -------------------------
//  'Next' modal
// -------------------------

.completion-region .modal.activitycompletemodal {
  position: fixed;
  display: none;
  top: auto;
  left: auto;
  bottom: 0;
  right: -600px; //320
  box-shadow: -3px -4px 15px 0 rgba(0, 0, 0, 0.25);
  background: $modal-bg;
  width: auto;
  height: auto;
}

.activitycompletemodal-content {
  color: $text-color;
}

.activitycompletemodal-content {
  color: #333;
  margin: 0 auto;
}

#moodle-footer h4.activitycompletemodal-title {
  color: #333;
  font-size: 2.5em;
  padding: .2em 0 .15em;
}

.activitycompletemodal-header {
  background: $brand-success;
  padding: 1.618em 15px 1em;
}

span.glyphicon.glyphicon-ok.activitycompletemodal-ok {
  font-size: 1.9em;
  color: #fff;
  margin: .4em auto 0;
  padding: .5em;
  border-radius: 2em;
  border: .2em solid;
  line-height: 1em;
  text-align: center;
  animation: completion 1s;
  -webkit-animation: completion 1s;
}

h4.modal-title.activitycompletemodal-title {
  font-size: 1.3em;
  padding: .5em 0 .6em;
  font-weight: bold;
  line-height: 1.2em;
}

.activitycompletemodal-body {
  padding: .618em 1em;
  p {
    font-family: $font-family-feature;
    margin: 0 2em 1.15em 0;
  }
}

span.activitycompletecurrentmodname {
  font-weight: bold;
}

a.activitycompletenextmodlink {
  font-weight: bold;
  color: #00759B;
  border: none;
  background: transparent;
  font-family: $font-family-feature;
  display: inline-block;
  padding: 1em 1.618em;
  line-height: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: .9em;
}

.modal-content.activitycompletemodal-content .btn,
.moodle-dialogue-confirm input[type="button"] {
  margin: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $brand-info;
  font-weight: bold;
  font-size: .9em;
  text-transform: uppercase;
  border-color: transparent;
}

.activitycompletemodal-content span.glyphicon.glyphicon-arrow-right {
  line-height: .8em;
  padding: 0 0 0 .4em;
}

.activitycompletemodal-footer {
  border: 0;
  padding: 0 0 .1em;
}

#moodle-footer a.activitycompletenextmodlink,
.modal-content.activitycompletemodal-content .btn,
.moodle-dialogue-confirm input[type="button"] {
  &:hover,
  &:focus {
    background: $gray-lighter;
    text-decoration: none;
    border-color: transparent;
    color: $brand-info;
  }
}

.moodle-dialogue-confirm .confirmation-dialogue {
  text-align: left;
}

span.activitycompletenextmodname {
  font-weight: bold;
}
.activitycompletemodal-content .closebutton {
  margin: none;
  width: 25px;
  height: 25px;
}

// -------------------------
//  Dialogs/Modles.
// -------------------------

.moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
  max-width: inherit;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
  border: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  max-width: inherit;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
  padding: .618em 1em 0;
  max-width: inherit;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
  padding: .6rem !important;
}

button.yui3-button.closebutton {
  margin: 0;
}

.yui3-skin-sam .yui3-widget-mask {
  background-color: $gray-lighter;
  opacity: 0.8;
}

.moodle-dialogue-hd {
  display: flex;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
  height: 100% !important;
}

.section li.snap-asset:last-child {
  border-left: none;
}

.choosercontainer #chooseform .option {
  text-align: left;
}

.activity-complete {
  float: left;
}

.activity-complete-text {
  position: relative;
  text-align: center;
  font-size: 1em;
  display: block;
}

span.activity-complete.glyphicon.glyphicon-ok, .boxStyle .activity-complete.fa-check, .activity-complete .fa-check {
  top: 0;
  z-index: 4;
  background: $brand-success;
  border-radius: 5em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  color: #fff;
  text-indent: 13px;
  font-size: 2em;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
  text-align: left;
}

.done {
  float: right;
  margin: 1em;
  vertical-align: bottom;
  text-align: right;
}

.span.text {
  font-weight: normal;
}

.coursebox .info .coursename {
  display: none;
}

.path-enrol h2 {
  margin: .65em 0px 0px;
}

#wrapper.video {
  padding-top: 30px !important;
  padding-bottom: 57% !important;
}

.path-course #page-header {
  display: none;
}

input[type="file"].closebutton {
  display: flex;
}

a.btn {
  margin: 0;
}

.modified {
  display: none;
}

.fp-iconview .fp-filename-field {
  height: inherit;
}

.file-picker {
  text-align: left;
}

div#page-mast {
  margin: 1.618em 0;
}

h1#fixy-profile-link {
  margin: .5em 0 0;
}

h4.snap-asset-link.snap-activity-current {
  font-weight: bold;
}

//Completion pop example
.modal-footer.activitycompletemodal-footer {
  border-top: none;
}

.boxStyle {
  position: fixed;
  display: none; // Display controlled via js.
  width: 250px;
  height: 154px;
  background-color: $gray-darker;
  border-radius: .5em;
  z-index: 15000;
  font-family: $font-family-feature;
  opacity: .95;
  color: $modal-bg;
}

.darkBackgroundStyle {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.closebutton {
  background-color: transparent;
  box-shadow: none;
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: transparent;
    box-shadow: none;

  }
}

#alertBox {
  top: calc(50vh - 79px);
  left: calc(50vw - 125px);
  span.activity-complete {
    margin: .55em auto .2em;
    float: none;
    display: block;
    background: #e2cc00;
  }
}

@media (min-width: 62em) {
  #region-main .snap-activity.modtype_hsuforum .snap-media-object {
    padding: 1rem;
    width: 33%;
    float: left;
  }
}

.path-mod #page-header {
  background: none;
}

.outoftotal {
  color: $gray-light;
}

.background-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  @media screen {
    display: none;
  }

}

.background-video iframe {
  position: absolute;
  z-index: 0;
  width: 100%;
}

#page-login-index .loginpanel h2 {
  background-image: url(http://s1.city.ac.uk/snaprmain/i/snap-logo-1894.svg);
}

.loginpanel {
  padding: 0em 0 1.68em;
}

.forgetpass {
  text-align: center;
  line-height: 1em;
  float: right;
  font-size: .9em;
}

.forgetpass a {
  color: $gray-light;
}

.accreditation a {
  display: block;
  padding: .2em;
  background: transparent url(http://s1.city.ac.uk/snaprmain/i/footer/accreditation-sprite.png) no-repeat 0 0;
  text-indent: -99999px;
  height: 41px;
}

.accreditation-aacsb a {
  width: 40px;
  background-position: -159px 0;
}

.accreditation-mbas a {
  width: 81px;
  background-position: 0 0;
}

.accreditation-equis a {
  width: 58px;
  background-position: -91px 0;
}

ul.accreditation-list li {
  display: inline-flex;
  padding: 0 1em 0 0;
}

ul.accreditation-list {
  padding-top: 1em;
}

#page-login-index #region-main {
  padding: 0px 0 11em;
}

.loginbox input[type="submit"]:not(.btn-link) {
  float: left;
}

#page-login-index a#loginbtn.forgetpass {
  color: #888;
  padding: 1em 0 1em .75em;
}

#moodle-page ol#chapters li a.current + .text-success {
  background: $text-color;
  color: $body-bg;
  border-radius: 1em;
  padding: .15em .5em .1em;
  font-weight: normal;
  float: right;
  margin: .15em 10em 0 0;
  font-size: .78em;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: $body-bg;
}

#fixy-my-courses .courseinfo h3 a,
#fixy-my-courses .courseinfo a:visited {
  color: $text-color;
}

dt {
  padding-top: 1em;
  line-height: inherit;
}

.mo,
.mn,
.mi,
.mfrac,
mn,
mo,
mi,
msub,
msup {
  font-family: $font-family-base !important;
  font-size: .8em;
}

.mathjax {
  padding: 0 0 0em 1em;
}

.que .formulation > p,
.que .outcome > p,
.que .comment > p,
.que .formulation > ul,
.que .outcome > ul,
.que .comment>ul {
  margin-bottom: inherit;
}

.contentafterlink {
  display: none;
}

body#page-user-edit div#fitem_id_theme {
  display: none;
}

body#page-course-edit div#fitem_id_theme {
  display: none;
}

.triple-crown {
  padding-top: 2em;
}

#page-mod-forum-view {

  form#newdiscussionform input[type="submit"]:not(.btn-link),
  .singlebutton
  div {
    margin-left: 0px;
  }
  table.forumheaderlist {
    font-family: $font-family-feature;
  }

  .forumheaderlist {
    td {
      padding-bottom: 0.5em;
    }

    th.header.replies,
    td.replies {
      text-align: right;
    }

    th.header {
      padding-bottom: 2em;
    }

    td.topic.starter {
      font-weight: bold;
    }

  }

  .singlebutton.forumaddnew {
    margin-left: 0;
  }

  form#newdiscussionform {
    text-align: left;
  }

}

#page-mod-forum-discuss,
#page-mod-forum-post {
  .discussioncontrols {
    display: none;
  }
  form#mformforum {
    float: left;
  }

  .forumpost {
    float: left;
  }

  li.prev-discussion {
    display: none;
  }

  .row.maincontent.clearfix {
    padding-top: 3em;
  }

  .discussion-nav {
    display: none;
  }


  .forumpost .subject {
    display: none;
  }

  .left.picture {
    margin-top: -4px;
  }
  .forumpost .header {
    margin-bottom: 3px;
    font-size: $font-size-sm;
  }
}

ul.weeks {
  counter-reset: my-awesome-counter -1;
}

li.section {
  counter-increment: my-awesome-counter;
}


#page-course-view-weeks {
  h2.sectionname:before {
    content: "Week " counter(my-awesome-counter); // THIS WON'T LOCALISE!
    border-bottom: 4px solid $brand-info;
    display: block;
    margin-bottom: .614em;
    padding-bottom: .614em;
    font-family: $font-family-feature;
    font-size: 18px;
    line-height: 1.618em;
    padding-top: .4em;
    color: $gray-light;
    font-weight: normal;
    width: 31.8%;
  }

  // Style the data of a week.
  #region-main .state-visible .summary p:first-of-type {
    font-family: $font-family-feature;
    padding-top: 1em;
    color: $gray-light;
    font-size: 18px;
  }

  #section-0 h2.sectionname:before {
    content: "Introduction";
  }
}

img.smallicon.navicon {
  display: none;
}

.readmore {
  background: none;
  border: none;
  box-shadow: none;
  color: $brand-primary;

  &:not(.collapsed) {
    &:before {
      content: "Read less";
    }
    &:after {
      content: " \e113";
      font-family: "Glyphicons Halflings";

    }
    &:hover,
    &:focus,
    &:visited {
      background: none;
      color: $brand-primary;
      outline: none;
    }

  }
  &.collapsed {
    &:before {
      content: "Read more";

    }

    &:after {
      content: " \e114";
      font-family: "Glyphicons Halflings";
    }

    &:hover,
    &:focus,
    &:visited {
      background: none;
      color: $brand-primary;
      outline: none;
    }
  }
}
.collapse:not(.in):not(.show) {
  height: 1.5em !important;
  display: block;
  overflow: hidden;
}

body#page-course-loginas #page-content {
  margin-top: 0em;
  padding-top: 3em;
  margin-bottom: -1px;
}
span.loading-icon {
  display: none;
}

.user-enroller-panel .uep-wrap .uep-header .close,
.other-user-manager-panel .uep-wrap .uep-header .close,
.user-enroller-panel .oump-wrap .uep-header .close,
.other-user-manager-panel .oump-wrap .uep-header .close,
.user-enroller-panel .uep-wrap .oump-header .close,
.other-user-manager-panel .uep-wrap .oump-header .close,
.user-enroller-panel .oump-wrap .oump-header .close,
.other-user-manager-panel .oump-wrap .oump-header .close,
.user-enroller-panel .uep-wrap .uep-header .oump-panel-close,
.other-user-manager-panel .uep-wrap .uep-header .oump-panel-close,
.user-enroller-panel .oump-wrap .uep-header .oump-panel-close,
.other-user-manager-panel .oump-wrap .uep-header .oump-panel-close,
.user-enroller-panel .uep-wrap .oump-header .oump-panel-close,
.other-user-manager-panel .uep-wrap .oump-header .oump-panel-close,
.user-enroller-panel .oump-wrap .oump-header .oump-panel-close,
.other-user-manager-panel .oump-wrap .oump-header .oump-panel-close {
  background: none;
}

// Add some support for .well - depricated in bootstrap 4.
.well {
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 5px solid $brand-info;
}
