#snap-course-footer {
  padding: 3.444%;
  background-color: $gray-lighter;

  #snap-course-footer-recent-activity {
      .clearfix {
          clear: left;
      }
  }

  #snap-course-footer-recent-activity h3 {
    display: block;
  }

  #snap-course-footer-recent-activity li {
    display: block;
  }
  #snap-course-footer-recent-activity ul.unlist {
    float: left;
    clear: both;
  }
  #snap-course-footer-recent-activity .date {
    line-height: normal;
  }
  .head, .info {
    clear: both;
  }

  .info {
    padding-bottom: .64em;
  }
}

#snap-course-footer-about {
  display: none;
}
