a#snap-home {
  display: none;
}

/**
 * Mod book.
 */
.path-mod-book {
  .card-block {
    padding: 0;
  }
}

/**
 * Feedback plugin.
 */
.path-mod-feedback input[type="radio"] {
    margin-bottom: 0;
}

/**
 * Mod assignment page.
 */

#page-mod-assign-view {
    // On larger screen display assignment info and meta as a grid.
    @include media-breakpoint-up(md) {
        .assign-intro {
            @include make-col(8);
            float: left;
        }
        .assign-submission-data,
        .assign-feedback,
        .assign-grading-summary {
            @include make-col(4);
            // Not great code - overwriting a lot here...
            float: right;
            padding: 1em;
            margin-left: 1em;
            margin-bottom: .5em;
            background-color: #f5f5f5;
            width: calc(33.33% - 1em);
        }
        .assign-feedback {
            .row {
                font-size: small;
            }
        }
    }
    .fileuploadsubmission {
        min-width: 0;
        a {
            word-break: break-word;
        }
    }
}

.sub-theme-cass {
    &#page-mod-page-mod, &#page-mod-resource-mod {
        #id_submitbutton {
            display: inline-block;
        }
    }
}

#page-mod-assign-grading {
    // Style the table to be smaller.
    table {
        thead {
            font-size: small;
            th.header {
                padding: .5em 0;
            }
        }
        td.cell {
            font-size: .8em;
            padding: .5em;
            vertical-align: middle;
            // Make the edit button and grade dropdown line up.
            .btn-primary {
                padding: .25rem .5rem;
                font-size: .8rem;
                line-height: 1.5;
            }
            .menubar {
                margin: -1em 0;
            }
        }
    }
}

/**
 * Mod quiz selects.
 */
 .custom-select:focus {
         border: 1px solid #80bdff;
 }
